<!DOCTYPE html>
<html lang="fr">
  <%- include('template/head'); -%>
  <body>

    <%- include('template/header'); -%>

    <div class="container-main">
      <div class="container-form">

        <div class="col-md-12 container-head text-center">
          <i class="fa fa-ban error" aria-hidden="true"></i>
          <h3>Annulation confirmée</h3>
        </div>

        <div class="container">
            <div class="col-md-12  text-center">
              <p>Votre annulation pour l'adresse</p>
            </div>
            <div class="col-md-12  text-center">
              <span class="badge" data-badge="Position de départ"></span>
            </div>
            <div class="col-md-12  text-center">
              <p>a bien été prise en compte</p>
            </div>

          <div class="col-3 col-center col-mx-auto">
            <a class="btn btn-lg" href="accueil">Retour</a>
          </div>

        </div>
      </div>
    </div>

    <%- include('template/header-mobile'); -%>

    <%- include('template/modal-detect'); -%>

  </body>
</html>
