<!DOCTYPE html>
<html lang="fr">
  <%- include('template/head'); -%>
  <body>

    <%- include('template/header'); -%>


    <div class="container-main">
      <div class="container-form">

        <div class="col-md-12 container-head text-center">
          <h1 class="h">Bonjour</h1>
          <span>Nom Prénom</span>
        </div>

        <form class="container col-6">
          <!-- form validation class: has-success -->
          <div class="form-group columns">
            <div class="col-md-3">
              <label class="form-label" for="input-beginning">Départ</label>
            </div>
            <div class="column col-md-9">
              <input class="form-input" type="text" id="input-beginning" placeholder="Position actuelle">
            </div>
          </div>
          <!-- form validation class: is-success -->
          <div class="form-group columns">
            <div class="col-md-3">
              <label class="form-label" for="input-oncoming-1">Arrivée</label>
            </div>
            <div class="column col-md-9">
              <input class="form-input" type="text" id="input-oncoming-1" placeholder="Lieu de travail">
            </div>
          </div>

          <div class="form-group columns">
            <div class="col-md-2">
              <label class="form-label" for="input-date-start">Le</label>
            </div>
            <div class="column col-md-4">
              <input class="form-input" id="input-date-start" type="date" value="">
            </div>

            <div class="col-md-2">
              <label class="form-label" for="input-date-end">A</label>
            </div>
            <div class="column col-md-4">
              <input class="form-input" id="input-date-end" type="time" value="">
            </div>
          </div>


          <div class="col-md-8 col-center col-mx-auto">
            <a class="btn btn-lg" href="recap">COMMANDER</a>
          </div>

        </form>
      </div>
    </div>


    <%- include('template/header-mobile'); -%>

    <%- include('template/modal-detect'); -%>

  </body>
</html>
