<div class="header-mobile">
  <header class="navbar navbar-bottom">
    <section class="navbar-section">
      <a href="accueil" class="btn btn-link">Accueil</a>
      <a href="#face" class="btn btn-link">Order</a>
    </section>
    <section class="navbar-center">
      <a href="#face" class="btn btn-link btn-face"><i class="fa fa-eye" aria-hidden="true"></i>  Détection visage</a>
    </section>
    <section class="navbar-section">
      <a href="#" class="btn btn-link">Notification</a>
      <a href="#" class="btn btn-link">Settings</a>
    </section>
  </header>
</div>
